<table class="user-info">
  <tr>
    <th>{{user.username}}</th>
    <td class="logout-form"><a href="/logout">Logout?</a></td>
  </tr>
  <tr>
    <td>First Name: {{user.firstName}}</td>
  </tr>
  <tr>
    <td>Last Name: {{user.lastName}}</td>
  </tr>
  <tr>
    <td>Profession: {{user.profession}}</td>
  </tr>
  <tr>
    <td>Bio: {{user.bio}}</td>
  </tr>
</table>